<div class="blue_background w3-text-black w3-padding-24">
    <div class="header width100 display_flex">about us</div>
    <div class=" display_flex">
        <div class="half w3-padding-48">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
        </div>
        <div class="half w3-padding-48">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/y881t8ilMyc" frameborder="0"
                allowfullscreen></iframe>
            </iframe>
        </div>
    </div>
</div>