<div class="w3-text-black w3-padding-24">
    <div class="header width100 display_flex">
        Contact us
    </div>
    <div class="w3-padding-16 width100 w3-container subscribe_form">


        <form action="">
            <div>
                <div class="display_flex w3-padding-8  display_top">
                    <label class="part_35">Name</label>
                    <input class="w3-input " type="text">
                </div>
                <div class="display_flex w3-padding-8  display_top">
                    <label class="part_35">Email</label>
                    <input class="w3-input " type="text">
                </div>
                <div class="display_flex w3-padding-8  display_top">
                    <label class="part_35">Pfone</label>
                    <input class="w3-input  " type="text">
                </div>
                <div class="display_flex w3-padding-8  display_top">
                    <label class="part_35">Message</label>
                    <textarea class="w3-input " cols="40" rows="5" ></textarea>
                </div>
            </div>
            <div class="submit display_flex">
                <button class="w3-btn light_red_background">submit</button>
            </div>


        </form>
    </div>
</div>