<div class="darck_blue_background">
    <div class="width100">
        <div class="">
            <a href="3DPRINTING.html" class="w3-bar-item2 w3-button">Education</a>
            <a href="https://www.thingiverse.com/thecrimsonwaveproject" class="w3-bar-item2 w3-button">Custom Menstrual
                Cup</a>
            <a href="About.html" class="w3-bar-item2 w3-button">About Us</a>
            <a href="https://chaos.social/@CrimsonWaveProject" class="w3-bar-item2"><i
                    class="fa-brands fa-mastodon"></i></a>
            <a href="https://twitter.com/crimsonwavepro" class="w3-bar-item2"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com/thecrimsonwaveproject/" class="w3-bar-item2"><i
                    class="fa-brands fa-instagram"></i></a>
            <a href="https://www.youtube.com/watch?v=NytjsAz5wIQ" class="w3-bar-item2"><i
                    class="fa-brands fa-youtube"></i></a>
            <a href="https://www.tiktok.com/@thecrimsonwaveproject" class="w3-bar-item2"><i
                    class="fa-brands fa-tiktok"></i></a>
        </div>

    </div>
</div>