<div class="darck_blue_background w3-center w3-padding-24">

    <div class="w3-hide-small">
        <div class="width100">
            <div class="display_flex">
                <div class="w3-third">
                    <a href="{{site.baseurl}}/" class="">
                        <img src="{{site.baseurl}}/assets/img/Logo.svg" alt="CrimsonWave" height="40" />
                    </a>
                </div>
                <div class="w3-third">
                    <a href="{{site.baseurl}}/pages/education.html" class="w3-bar-item2 w3-button">Education</a>
                    <a href="{{site.baseurl}}/pages/customCup.html" class="w3-bar-item2 w3-button">Custom Menstrual
                        Cup</a>
                    <a href="{{site.baseurl}}/pages/about.html" class="w3-bar-item2 w3-button">About Us</a>
                </div>
                <div class="w3-third">
                    <a href="https://chaos.social/@CrimsonWaveProject" class="w3-bar-item2"><i
                            class="fa-brands fa-mastodon"></i></a>
                    <a href="https://twitter.com/crimsonwavepro" class="w3-bar-item2"><i
                            class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.instagram.com/thecrimsonwaveproject/" class="w3-bar-item2"><i
                            class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.youtube.com/watch?v=NytjsAz5wIQ" class="w3-bar-item2"><i
                            class="fa-brands fa-youtube"></i></a>
                    <a href="https://www.tiktok.com/@thecrimsonwaveproject" class="w3-bar-item2"><i
                            class="fa-brands fa-tiktok"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="w3-hide-large w3-hide-medium">
        <a href="{{site.baseurl}}/pages/education.html" class="w3-bar-item2 w3-button width100">Education</a>
        <a href="{{site.baseurl}}/pages/customCup.html" class="w3-bar-item2 w3-button  width100">Custom Menstrual
            Cup</a>
        <a href="{{site.baseurl}}/pages/about.html" class="w3-bar-item2 w3-button  width100">About Us</a>
        <div class=" width100">
            <a href="https://chaos.social/@CrimsonWaveProject" class="w3-bar-item2"><i
                    class="fa-brands fa-mastodon"></i></a>
            <a href="https://twitter.com/crimsonwavepro" class="w3-bar-item2"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com/thecrimsonwaveproject/" class="w3-bar-item2"><i
                    class="fa-brands fa-instagram"></i></a>
            <a href="https://www.youtube.com/watch?v=NytjsAz5wIQ" class="w3-bar-item2"><i
                    class="fa-brands fa-youtube"></i></a>
            <a href="https://www.tiktok.com/@thecrimsonwaveproject" class="w3-bar-item2"><i
                    class="fa-brands fa-tiktok"></i></a>
        </div>
    </div>
</div>
<div class="width100 display_flex darck_blue_background " style="justify-content: end;">
Made by ©fialo4ka 2022
</div>

<script src="{{site.baseurl}}/assets/js/main.js"></script>