<div class="w3-padding-48 display_flex">
    <div class="five_part">
        <div class="">
            <a href="{{site.baseurl}}/contraception.html"><img src="assets/img/marooncirclecontraception.svg" style="width:100%"></a>
            <div class="display_flex small_header">
                contraception
            </div>
        </div>
    </div>

    <div class="five_part">
        <div class="">
            <a href="{{site.baseurl}}/transresources.html"><img src="assets/img/marooncircletrans.svg" style="width:100%"></a>
            <div class="display_flex small_header">
                trans resources
            </div>
        </div>
    </div>

    <div class="five_part">
        <div class="">
            <a href="{{site.baseurl}}/selflove.html"><img src="assets/img/marooncircleheart.svg" style="width:100%"></a>
            <div class="display_flex small_header">
                self love
            </div>
        </div>
    </div>
    <div class="five_part">
        <div class="">
            <a href="{{site.baseurl}}/nonbinaryresources.html"> <img src="assets/img/marooncircle-nb.svg" style="width:100%"></a>
            <div class="display_flex small_header">
                non binary resources
            </div>
        </div>
    </div>
    <div class="five_part">
        <div class="">
            <a href="{{site.baseurl}}/healthcaresystem.html"><img src="assets/img/marooncirclehealthcare.svg" style="width:100%"></a>
            <div class="display_flex small_header">
                health care system
            </div>
        </div>
    </div>
</div>