<div class="w3-padding-48 display_flex">
    <div class="part_15 w3-hide-small">
        <div class="tampons left">
            <img class="" src="{{site.baseurl}}/assets/img/LeftTampons.jpg">
        </div>
    </div>
    <div class="three_two_parts blue_div_small">
        <div>
            <div class="display_flex">
                <div class="blue_background blue_div display_flex"><a class="center">cycle basics</a> </div>
                <div class="light_blue_background blue_div display_flex"><a class="center">mental helth</a> </div>
                <div class="blue_background blue_div display_flex"><a class="center">physical helth</a> </div>
            </div>
            <div class="display_flex">
                <div class="light_blue_background blue_div display_flex"><a class="center">text</a></div>
                <div class="blue_background blue_div display_flex">podcast</div>
                <div class="light_blue_background blue_div display_flex">period poverty</div>
            </div>
        </div>
    </div>
    <div class="part_15 w3-hide-small">
        <div class="tampons right">
            <img class="" src="{{site.baseurl}}/assets/img/RightTampons.jpg">
        </div>
    </div>
</div>