
    <div class="">
        <div class="">
            <a href="{{site.baseurl}}/pages/contraception.html"><img src="{{site.baseurl}}/assets/img/marooncirclecontraception.svg" style="width:100%"></a>
            <div class="display_flex small_header">
                contraception
            </div>
        </div>
    </div>

    <div class="">
        <div class="">
            <a href="{{site.baseurl}}/pages/transresources.html"><img src="{{site.baseurl}}/assets/img/marooncircletrans.svg" style="width:100%"></a>
            <div class="display_flex small_header">
                trans resources
            </div>
        </div>
    </div>

    <div class="">
        <div class="">
            <a href="{{site.baseurl}}/pages/selflove.html"><img src="{{site.baseurl}}/assets/img/marooncircleheart.svg" style="width:100%"></a>
            <div class="display_flex small_header">
                self love
            </div>
        </div>
    </div>
    <div class="">
        <div class="">
            <a href="{{site.baseurl}}/pages/nonbinaryresources.html"> <img src="{{site.baseurl}}/assets/img/marooncircle-nb.svg" style="width:100%"></a>
            <div class="display_flex small_header">
                non binary resources
            </div>
        </div>
    </div>
    <div class="">
        <div class="">
            <a href="{{site.baseurl}}/pages/healthcaresystem.html"><img src="{{site.baseurl}}/assets/img/marooncirclehealthcare.svg" style="width:100%"></a>
            <div class="display_flex small_header">
                health care system
            </div>
        </div>
    </div>
