<div class="w3-padding-48 display_flex">
    <div class="display_flex">
        <div class="tampons">
            <img class="" src="assets/img/LeftTampons.jpg">
        </div>
        <div>
            <div class="display_flex">
                <div class="blue_background blue_div display_flex"><a class="center">cycle basics</a> </div>
                <div class="light_blue_background blue_div display_flex"><a class="center">mental helth</a> </div>
                <div class="blue_background blue_div display_flex"><a class="center">physical helth</a> </div>
            </div>
            <div class="display_flex">
                <div class="light_blue_background blue_div display_flex"><a class="center">text</a></div>
                <div class="blue_background blue_div display_flex">podcast</div>
                <div class="light_blue_background blue_div display_flex">period poverty</div>
            </div>
        </div>
        <div class="tampons">
            <img class="" src="assets/img/RightTampons.jpg">
        </div>
    </div>
</div>