.dark_red_background {
  background-color: #800000;
  color: white;
}

.light_red_background {
  background-color: #FF1717;
  color: white;
}

.darck_blue_background {
  background-color: #092056;
  color: white;
}

.blue_background {
  background-color: #2D6AF7;
  color: white;
}

.light_blue_background {
  background-color: #7599EB;
  color: white;
}

body {
  background-color: #E1DCD6;
}

.left,
.right,
.subscribe_form,
.display_flex {
  display: flex;
}

.display_flex {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.display_top {
  align-items: normal;
}

.w3-padding-48 {
  padding-top: 48px !important;
  padding-left: 48px !important;
  padding-right: 48px !important;
  padding-bottom: 0px !important;
}

.width100 {
  width: 100% !important;
}

.topartwork {
  width: 100%;
  margin-top: 60px;
  padding: 0px;
  border: 0px;
}

.subscribe_form {
  flex-flow: column;
  align-items: center;
}

.w3-btn,
.small_header,
.header {
  text-transform: uppercase;
  padding: 6px;
  width: 100%;
}

.header {
  font-size: 150%;
}

.w3-btn {
  font-size: 11px;
}

.w3-input {
  padding: 2px;
  border: 1px solid #ffffff;
}

.w3-padding-8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.blue_div {
  width: 33%;
  height: 80px;
  padding: 30px;
  margin: 6px;
  text-align: center;
}

.tampons img {
  height: 172px;
  margin: 6px;
}

.left {
  justify-content: end;
}

.right {
  justify-content: start;
}

.five_part,
.three_two_parts,
.half {
  float: left;
  padding: 6px;
}


.five_part {
  width: 19%;
}

.part_15 {
  width: 15%;
}

.three_two_parts {
  width: 70%;
}

.half {
  width: 50%;
}

.top_default {
  position: relative;
  height: 140px;
}

.post_botton {
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
  align-items: flex-start;
}

.menu_bottom {
  padding: 6px;
  width: 19%;
}

.part_75 {
  padding: 6px;
  width: 75%;
}

.sidebar {
  display: none;
  height: 100%;
  background-color: #fff;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
}

@media (max-width:600px) {
  .blue_div {
    margin: 0px;
  }

  .blue_div_small {
    width: 100%;
  }

  .small_header {
    line-height: 1;
    text-transform: lowercase;
  }

  .w3-padding-48 {
    padding: 0pt !important;
    padding-top: 16px;
  }

  .img_red {
    height: 75px;
  }
}